<!--form이 있어야, 서버요청이 된다.-->
<!--<form action="calc">-->
<!--여기서, name과 id는 같아야한다.-->
<!--구분자"" 쓰고 안쓰고는, " "같은거 쓰려고-->
<!--만약, name=op1을 안쓰면, 입력은 되지만, 값이 서버로 넘어가지 않는다.-->
<!--id는 HTML에서 정의한것이므로, 바꿀 수 없으며, 관행이다.-->

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!--javascript 구문-->
<!--alert : 메세지 출력-->
<button id="btnAdd">add cell</button>
<div id="cells" >
<div id="cell">

<textarea rows="10" cols="40" id="code"> </textarea>
<button id="btnRun">실행</button>
<div id="result"> result </div>
</div>
</div>
<script>
     $("#btnRun").click( function() {
           var param = {code:$("#code").val()};
           $.get("/ajax/runpython", param, function(data) {
              $("#result").html(data)
           });
     });

     $("#btnAdd").click( function() {
        $("#cells").append($("#cell").clone())
      });
</script>